
body {
  width: 100%;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.cart-container {
  background-color: #fbfdfc;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.cart-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #4d673a;
  margin-bottom: 20px;
}
.cart-item {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.cart-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.cart-item-info {
  flex: 1;
  margin-left: 10px;
}
.cart-item-title {
  font-size: 16px;
  font-weight: bold;
  color: #1b4332;
}
.cart-item-price {
  color: #4d673a;
}
.cart-item-actions {
  display: flex;
  align-items: center;
}
.quantity-btn {
  background: #4d673a;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.quantity-btn:hover {
  background: #1b4332;
}
.cart-total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #4d673a;
}
.checkout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #4d673a;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}
.checkout-btn:hover {
  background: #1b4332;
}


.container, .row{
  --bs-gutter-x: none;
}