
<div class="container">
  <h2>Quiénes somos</h2>
  <p>Martina y sofía compartían algo más que una amistad de años: compartían la necesidad de crear un espacio donde la naturaleza fuera protagonista. Después de meses soñando, planificando y llenando cuadernos con ideas, decidieron animarse. Así nació su tienda de plantas, un proyecto construido con dedicación, aprendizaje constante y muchísimo amor.</p>
  <img [src]="imagen.image1" class="aboutImg" alt="picture">
  <p>Al principio vendían desde casa, preparando cada pedido como si fuera un regalo. Con el tiempo, el boca en boca hizo lo suyo y la comunidad empezó a crecer. Las personas no solo buscaban una planta, buscaban asesoramiento, inspiración y ese toque cercano que solo ellas sabían dar.</p>
  <img [src]="imagen.image2" class="aboutImg" alt="picture">
  <p>Hoy, su vivero es más que una tienda: es un espacio de encuentro. Un lugar donde cada hoja cuenta una historia y cada cliente se va con algo más que una maceta… se lleva un pedacito de ese sueño que comenzó entre amigas, tierra y esperanza.</p>
  <img [src]="imagen.image3" class="aboutImg" alt="picture">
</div>

