
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.home1{
  width:100%;
  align-items: center;
  margin: auto auto;
  padding-bottom: 50px;

}

img{
  height: 690px;
}



.allHome{
  align-items: center;
  display: flex;
  flex-direction: column;
}



.btn{
     font-family: 'Nunito', sans-serif;
    line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  background-color: #e8cd8e;
  text-decoration-color: #1c3209;
  color: #1c3209;
  border: 2px solid #1c3209;
}




.carousel-caption{
  letter-spacing: 2px;
  color: rgb(250, 243, 234);
 min-height: 600px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}
h1{
  font-size: 60px;
}

@media (max-width: 767px) {
  .carousel-caption{
    padding-top: 25px;
    font-size: 20px; /* tamaño más chico para celulares */
  }
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.subt{
  padding: 5px;
  color: #415e27;
  font-family: "Bebas Neue", sans-serif;
}

.card{
  color: #2b3f19;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  background-color: #eee0c2;
}

.home4{
  display: flex;
  flex-direction: column;
}

