
nav {
  background-color: #4d673a;
}

.nav-link{
  color: rgb(250, 243, 234);
}

.nav-link, footer, h4{
      font-family: 'Nunito', sans-serif;
    line-height: 1.5;
  font-size: 19px;
  letter-spacing: 2px;
}


footer{
  color: #1c3209;
  padding: 5px;
  background-color: #beee97;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#navbarNav{
  display: flex;
  justify-content: space-around;
}


.container{
  background-color: #ffe5d1;
  display: contents;
  max-width: 100%;
}

.foot1, .foot2{
  padding: 1px;
  display: flex;
  flex-direction: column;
}



.cartimg{
  width: 50px;
  background-color: transparent;
  align-items: flex-end;
}

.btn{
  border: rgb(81, 81, 81) 1px solid;
}

.buttons{
  display: flex;

}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 50px;
  }
}

.search-input {
  border-radius: 20px;
}

.search-btn {
  background-color: antiquewhite;
  border-radius: 20px;
}

.login-btn {
  background-color: antiquewhite;
  border-radius: 20px;
  font-weight: 600;
}

.login-btn:hover,
.search-btn:hover {
  background-color: #e5f9d5;
}
