
nav {
  background-color: #4d673a;
}

.nav-link{
  color: antiquewhite;
}

.nav-link, footer, h4{
  font-family: Muli, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

footer{
  color: #1c3209;
  padding: 10px;
  background-color: #beee97;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}



.container{
  background-color: #ffe5d1;
  display: contents;
  max-width: 100%;
}

.foot1, .foot2{
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.marca{
  
  padding: 8px;
}

.cartimg{
  width: 80px;
  background-color: transparent;
}